
main {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

body {
    justify-content: center;
    background-color: aliceblue;
    background-image: url("Little_Engine-531398435.jpg");
}

.card {
    display: block;
    border: 10px;
    border-style: groove;
    border-color: blueviolet;
    border-radius: 10%;
    padding: 50px;
    flex: 1;
    text-align: center;
    justify-content: space-around;
    position: relative;
}

header {
    border-style: solid;
    flex: 0;
    text-align: center;
    width: 100%
}

section{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    margin: 10%;
    text-align: center;
}
