
main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    text-align: center;
    background-image: url("http://img1.wikia.nocookie.net/__cb20140119024559/littleengine/images/d/da/Little_Engine.png");
    animation-name: initial;
    animation-duration: 5s;
}

.card {
    display: inline-flex;
    flex: 0;
    width: 50%;
    height: 100%;
    flex-direction: column;

}
   

header {
    text-align: top;
    justify-content: center;
    border-style: solid;
    border-color: turquoise;
    padding: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    border-style: solid;
    flex: 0;
    text-align: center;
    width: 100%;
    font-size: 14px;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 0s;
  }

  h2:hover {
    font-size: 36px;
  }

figcaption {
    flex: 1;
    width: 75%;
    margin: auto;
    transition: width 10s;
}

section{
    border-style: dashed;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    display: block;
    background-color: darkorange;
}

footer {
    margin: 10%;
    background-color: white;
    text-align: center;
}

